<footer class="zen-site-footer">
  <div class="container">
    <div>
      <p class="zen-footer-name">{{ site.first_name }} {{ site.last_name }}</p>
      <p>Berkeley, California</p>
    </div>
    <div class="zen-footer-links">
      <a href="mailto:shashank.singh@berkeley.edu">Email</a>
      {% if site.scholar_userid %}<a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}">Google Scholar</a>{% endif %}
      {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}">GitHub</a>{% endif %}
      {% if site.linkedin_username %}<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/">LinkedIn</a>{% endif %}
    </div>
  </div>
</footer>
